.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: var(--color-secondary);
  padding: 5px;
  gap: 20px;

  &__element {
    background-color: var(--color-accent);
    width: 100%;
    padding: 5px;
    text-align: center;
  }
}
