.kanban-page {
  display: flex;
  flex-direction: column;
  width: 100vw;
  //   align-items: center;
  margin-top: 10px;
}

.kanban-control-panel {
  display: flex;
  flex-direction: row-reverse;
  padding: 0 20px;
  gap: 5px;
}

.taskform {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 60vh;
  &__content {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  &__footer {
    display: flex;
    flex-direction: column;
    // gap: 20px;
    &__errors {
      color: red;
    }
    &__buttons {
      display: flex;
      flex-direction: row-reverse;
    }
  }
}
